extends layout

block content
- var id = 0;
    .container
        each vm in indexLocals
            .vmhost.kvm
                .vmhost-label= vm.hostname
                .vmhost-details
                    strong cpu: #{vm.cpuUsed} / #{vm.cpuMax}
                    br/
                    strong mem: #{vm.memUsed} / #{vm.memMax}
                .vmguest.running(onmouseover='show(id)')


            //begin sponsor vmhosts container
    

     <div id="6682" class="vmguest running davey" onmouseover="show(tt_6682)" onmouseout="hide(tt_6682)">bouytalk <span class="vmguest-details">(1 cpu, 2 Gb)</span><div id="tt_6682" class="tooltip"><hr><span class="vmguest-tooltip-info-label">Sponsor:</span> <span class="vmguest-details">davey</span><br><span class="vmguest-tooltip-info-label">IP:</span> <span class="vmguest-details">128.111.100.135</span><br><span class="vmguest-tooltip-info-label">CPU:</span> <span class="vmguest-details">1 / 1</span><br><span class="vmguest-tooltip-info-label">Mem:</span> <span class="vmguest-details">2 / 2 Gb</span><br><span class="vmguest-tooltip-info-label">OS:</span> <span class="vmguest-details">CentOS-6.7</span><br><span class="vmguest-tooltip-info-label">Services:</span> <span class="vmguest-details">glider comms</span><br><span class="vmguest-tooltip-info-label">Path:</span> <span class="vmguest-details">/vm/bouytalk.img</span><br></div><!-- end tooltip div -->
</div><!-- end vmguest div -->
      
    </div>




    .col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
        h2.sub-header Latest VM Status
        .table-responsive
            table.table.table-striped
                thead
                    tr
                        th Time
                        th VM
                        th Host
                        th State
                        th Path
                        th FS Type
                        th OS Type
                        th Memory(GB)
                        th #CPU

                tbody
                    - for local in status
                        tr
                            td= local.generateTime
                            td= local.name
                            td= local.hostName
                            td(style='color:' + local.color)= local.state
                            td= local.path
                            td= local.FSType
                            td= local.OSType
                            td= local.maxMem
                            td= local.numOfCpu


    //Bootstrap core JavaScript
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js')
    script(src='/javascripts/bootstrap.min.js')


